@model List<MilkyProject.WebUI.DTOS.FeatureDto.ResultFeatureDto>

            @foreach(var item in Model)
            {
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <p class="section-title bg-white text-start text-primary pe-3">Neden Biz!</p>
                <h1 class="mb-4">@item.header</h1>
                <p class="mb-4">@item.description</p>
                <p><i class="fa fa-check text-primary me-3"></i>@item.firstCallOut</p>
                <p><i class="fa fa-check text-primary me-3"></i>@item.secondCallOut</p>
                <p><i class="fa fa-check text-primary me-3"></i>@item.thirdCallOut</p>
                <a class="btn btn-secondary rounded-pill py-3 px-5 mt-3" href="">Daha Fazla...</a>
            </div>
            }
          
            

