@model List<MilkyProject.WebUI.DTOS.FeatureDto.ResultFeatureDto>
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            @foreach(var item in Model)
            {
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <p class="section-title bg-white text-start text-primary pe-3">Neden Biz!</p>
                <h1 class="mb-4">@item.header</h1>
                <p class="mb-4">@item.description</p>
                <p><i class="fa fa-check text-primary me-3"></i>@item.firstCallOut</p>
                <p><i class="fa fa-check text-primary me-3"></i>@item.secondCallOut</p>
                <p><i class="fa fa-check text-primary me-3"></i>@item.thirdCallOut</p>
                <a class="btn btn-secondary rounded-pill py-3 px-5 mt-3" href="">Daha Fazla...</a>
            </div>
            }
            
            <div class="col-lg-6">
                <div class="rounded overflow-hidden">
                    <div class="row g-0">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="text-center bg-primary py-5 px-4">
                                <img class="img-fluid mb-4" src="~/dairy/img/experience.png" alt="">
                                <h1 class="display-6 text-white" data-toggle="counter-up">25</h1>
                                <span class="fs-5 fw-semi-bold text-secondary">Years Experience</span>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                            <div class="text-center bg-secondary py-5 px-4">
                                <img class="img-fluid mb-4" src="~/dairy/img/award.png" alt="">
                                <h1 class="display-6" data-toggle="counter-up">183</h1>
                                <span class="fs-5 fw-semi-bold text-primary">Award Winning</span>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                            <div class="text-center bg-secondary py-5 px-4">
                                <img class="img-fluid mb-4" src="~/dairy/img/animal.png" alt="">
                                <h1 class="display-6" data-toggle="counter-up">2619</h1>
                                <span class="fs-5 fw-semi-bold text-primary">Total Animals</span>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                            <div class="text-center bg-primary py-5 px-4">
                                <img class="img-fluid mb-4" src="~/dairy/img/client.png" alt="">
                                <h1 class="display-6 text-white" data-toggle="counter-up">51940</h1>
                                <span class="fs-5 fw-semi-bold text-secondary">Happy Clients</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
