@model List<MilkyProject.WebUI.DTOS.ProductDto.ResultProductWithCategoryDto>
@{
    Layout = null;
}

<div class="container">
    <br />
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>Ürün Adı</th>
            <th>Eski Fiyat</th>
            <th>Yeni Fiyat</th>
            <th>Kategori Adı</th>
            <th>Durum</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductID</td>
                <td>@item.Name</td>
                <td>@item.OldPrice</td>
                <td>@item.NewPrice</td>
                <td>@item.category.Name</td>
                <td>@item.Status</td>
                <td><a href="#" class="btn btn-outline-danger btn-group">Sil</a></td>
            </tr>
        }

    </table>
</div>
